<p id="notice"><%= notice %></p>
Google Search: <form><input type=text  class="search"><input type=submit value="Submit" onclick="request_google()"></form>
<%= render "site_list" %>
<p>
<%= tag "input", { "type" => "button", "value" => "Edit Frontpage", "onclick"=> "enableEdit()" } %>
</p>