<div class="site" id="1"><a href="http://www.afreshcup.com" target="_blank"><img src="http://images.all-free-download.com/images/graphicmedium/coffee_cup_clip_art_24787.jpg"></a></div>
<div class="site" id="2"><a href="https://mail.google.com" target="_blank"><img src="http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/052011/untitled-1_77.png"></a></div>
<div class="site" id="3"><a href="http://www.trello.com" target="_blank"><img src="http://s3.amazonaws.com/res.sus.io/icons/2/original/:normalized_photo_file_name?1382540892"></a></div>
<div class="site" id="4"><a href="http://google.com" target="_blank"><img src="http://www.bizreport.com/2011/03/16/google%20logo.jpg"></a></div>
<div class="site" id="5"><a href="http://www.omniref.com/" target="_blank"><img src="http://i.imgur.com/ab6Us3D.png"></a></div>