<h1>Select Image for Site</h1>

<%= link_to "Find Images", search_images_path, remote: true %>

<div id="images">
  <% if @images %>
      <% @i = 1 %>
      <% @images.each do |f| %>
          <div class="image_selector" data-img-num="<%= @i %>"><img src="<%= f.to_s %>"></div>
          <% @i += 1 %>
      <% end %>
  <% end %>
</div><br>

<%= render 'form' %>

