/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Should be moved to a seperate file but this is how I design a site (poorly :/) */
#toolbar{
    background-color: #999;
    width: 20%;
    float: left;

}
#toolbar ul{
    color: #00F;
}
#pages{
    background-color: #CCC;
    width: 80%;
    float: right;
    height: auto;
}
#footer{
    clear: both;
    text-align:center;
    background-color: #000;
    color: #FFF;
}
#header{
    background-color: #03F;
    font-size:36px;
}
.site{
    width: 200px;
    height: 200px;
    float:left;
}
.site title{
    font-size:24px;
    text-align:center;
}
.image_selector{
    width: 200px;
    height: 200px;
    float: left;
}
